
/* navbar 1*/
.navbar{
    display:flex;
    border:2px solid black;
    background-color: #333;
    padding:15px;
}

#search-bar{
    display:flex;
    align-items: center;
}

.navbar .nav-link a{
    text-decoration: none;
    padding: 20px ;
    color:aliceblue;
    transition: color 0.3s, transform 0.3s;
    

}

.navbar .nav-link a:hover{
    color:red;
    transform: scale(1.1);

}
  /* navbar 2  using bttn */
.navbar2 {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
  }
  
  .navbar2 button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
  }
  
  .navbar2 button:hover {
    color: #ff5733;
    transform: scale(1.1);
  }

/* navbar 3*/
.navbar3 {
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
    padding: 10px 10px;
    
  }
  
  .navbar3 a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0px;
    transition:  color 0.3s transform 1s;
    background-color: transparent;

  }
  
  .navbar3 a:hover {

    color: #ff5733;
    transform: scale(1.4);
  }
  
  
